@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AWS Cognito</h1>
    <p class="lead">Amazon Cognito is a service that enables you to create unique identities for your users and authenticate them
            using either your own user pools or by using federated identity providers.</p>
    <p><a href="https://aws.amazon.com/documentation/cognito/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Our online documentation provides in-depth walk-throughs of how to get started 
        </p>
        <p><a class="btn btn-default" href="https://aws.amazon.com/documentation/cognito/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get AWS .NET SDK</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://aws.amazon.com/sdk-for-net/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find out more!</h2>
        <p>You can easily get started with AWS by signing up for a free account today!</p>
        <p><a class="btn btn-default" href="https://aws.amazon.com/">Learn more &raquo;</a></p>
    </div>
</div>